
.dashboard-container {
  display: flex;
  height: 100vh; 
}

.sidebar {
  width: 220px; 
  background-color: #f7f9fc;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto; 
}


.dashboard-content {
  margin-left: 240px; 
  padding: 20px;
  background-color: #fff;
  flex-grow: 1;
  overflow-y: auto; 
  height: 100vh; 
  box-sizing: border-box;
}


.top-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.crypto-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-content h3 {
  font-size: 18px;
  color: #333;
}

.card-content h2 {
  font-size: 28px;
  margin: 10px 0;
  color: #3f51b5;
}

.percentage {
  font-size: 16px;
  margin-top: 5px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}


.btc-chart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}


.live-market {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.live-market-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.live-market-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.live-market-info h4 {
  font-size: 16px;
  color: #333;
}

.sparkline-chart {
  width: 100px; 
}


.crypto-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crypto-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px; 
}


@media (max-width: 768px) {
  .top-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .live-market-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.transactions {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.transactions-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-info h4 {
  font-size: 16px;
  margin: 0;
}

.transaction-info p {
  font-size: 14px;
  margin: 5px 0 0;
  color: #3f51b5;
}

.transaction-details p {
  font-size: 14px;
  margin: 0;
  text-align: right;
}
