
.main-container {
    display: flex;
}


.sidebar {
    height: 100vh;
    width: 220px;
    background-color: #f9f9f9;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    position: fixed;
}


.signup {
    margin-left: 240px; 
    padding: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.signup h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #3f51b5; 
    margin-bottom: 20px; 
}

.signup input {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup button {
    padding: 10px 20px;
    background-color: #3f51b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;
}

.signup button:hover {
    background-color: #303f9f;
}


.signup p {
    margin-top: 20px;
    font-size: 1rem;
    color: #666;
    cursor: pointer;
    transition: color 0.3s ease;
}


.signup p:hover {
    color: #3f51b5; 
    text-decoration: underline; 
}
